{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "padded-blocks": [
      "error",
      "always"
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      "never"
    ],
    "react/jsx-curly-brace-presence": [
      "off"
    ],
    "jsx-a11y/label-has-for": [
      "off"
    ]
  }
}
