@keyframes loading {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ddd;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 47px; }
  @media only screen and (max-width: 1068px) {
    body {
      max-width: 698px; } }
  @media only screen and (max-width: 725px) {
    body {
      width: 95%; } }

div.loading {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
  text-align: center;
  color: #fff;
  font-weight: 300; }
  div.loading .spinner {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 100px auto; }
    div.loading .spinner .bounce {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: loading 2s infinite ease-in-out;
      -o-animation: loading 2s infinite ease-in-out;
      animation: loading 2s infinite ease-in-out; }
      div.loading .spinner .bounce.double-bounce2 {
        -webkit-animation-delay: -1s;
        -moz-animation-delay: -1s;
        -o-animation-delay: -1s;
        animation-delay: -1s; }
  div.loading h1 {
    font-size: 36px; }

div.panel {
  background-color: #fff;
  text-align: center;
  color: #999999;
  border: 1px solid #e6e6e6;
  padding: 10px 30px;
  margin-bottom: 20px; }
  div.panel form.form {
    padding: 30px 0; }
    div.panel form.form label {
      border: 0 !important;
      clip: rect(0, 0, 0, 0) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important; }
    div.panel form.form input {
      font-size: 14px;
      margin-top: 10px;
      color: #4f4f50;
      width: 100%;
      display: block;
      padding: 9px 8px 7px;
      outline: none;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      -webkit-transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      -moz-transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      -o-transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1); }
      div.panel form.form input::placeholder {
        color: #b0b0b0; }
      div.panel form.form input:focus {
        border-color: #000;
        color: #000; }
      div.panel form.form input[type="button"], div.panel form.form input[type="submit"] {
        font-size: 16px;
        background-color: #007AFF;
        border: none !important;
        color: #fff !important;
        cursor: pointer; }
        div.panel form.form input[type="button"]:hover, div.panel form.form input[type="submit"]:hover {
          background-color: #0068cd; }
        div.panel form.form input[type="button"]:disabled, div.panel form.form input[type="submit"]:disabled {
          background-color: #888;
          cursor: not-allowed; }
      div.panel form.form input.invalid {
        border-color: #ff3b2f; }
      div.panel form.form input.valid {
        border-color: #4cd964; }
    div.panel form.form p.info {
      padding: 10px;
      font-weight: 300;
      font-size: 0.9em; }

h1.title {
  color: #000;
  font-weight: 400; }

p {
  text-align: left;
  margin-top: 55px;
  margin-bottom: -25px; }
  p.error {
    color: #ff3b2f; }
  p.success {
    color: #4cd964; }
  p.info {
    margin: 10px 0 10px; }
    p.info a {
      font-weight: 600;
      text-decoration: none; }
      p.info a.black {
        color: #606061; }
        p.info a.black:hover {
          color: #2e2e2f; }
      p.info a.blue {
        color: #007AFF;
        font-weight: 400; }
        p.info a.blue:hover {
          color: #0068cd; }

div.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100% - 80px);
  background-color: rgba(30, 30, 30, 0.4);
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1); }
  div.modal.hidden {
    background-color: transparent; }
    div.modal.hidden div.body {
      -webkit-transform: translateY(25px);
      -moz-transform: translateY(25px);
      -ms-transform: translateY(25px);
      -o-transform: translateY(25px);
      transform: translateY(25px);
      opacity: 0; }
  div.modal div.body {
    max-width: 880px;
    margin: 0 auto;
    -webkit-box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.61);
    -moz-box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.61);
    box-shadow: 0 1em 3em -0.25em rgba(46, 46, 46, 0.61);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -o-transition: -o-transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    background-color: #fff; }
    @media only screen and (max-width: 1068px) {
      div.modal div.body {
        max-width: 598px; } }
    @media only screen and (max-width: 725px) {
      div.modal div.body {
        width: 90%; } }
    div.modal div.body header {
      width: 100%;
      background-color: #007aff;
      padding: 5px 0;
      border-bottom: 1px solid #e6e6e6; }
      div.modal div.body header span.title {
        font-weight: 600;
        padding-left: 15px;
        font-size: 18px;
        color: #fff; }
      div.modal div.body header a.cross {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 0;
        float: right;
        margin-right: 15px;
        height: 18px;
        width: 18px;
        padding-top: 10px; }
        div.modal div.body header a.cross span {
          display: block;
          height: 2px;
          width: 18px;
          background-color: #fff; }
          div.modal div.body header a.cross span.cross-one {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
          div.modal div.body header a.cross span.cross-two {
            margin-top: -2px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
        div.modal div.body header a.cross:hover span {
          background-color: #d5d5d5; }
    div.modal div.body div.content {
      padding: 25px 1%; }

.hidden, .hidden * {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

/*# sourceMappingURL=main.css.map */
