body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ddd;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 47px; }
  @media only screen and (max-width: 1068px) {
    body {
      max-width: 698px; } }
  @media only screen and (max-width: 725px) {
    body {
      width: 95%; } }

div.panel {
  background-color: #fff;
  text-align: center;
  color: #999999;
  border: 1px solid #e6e6e6;
  padding: 10px 30px;
  margin-bottom: 20px; }
  div.panel h1.title {
    color: #000;
    font-weight: 400; }
  div.panel p.info {
    margin: 10px 0 10px; }
    div.panel p.info a {
      font-weight: 600;
      text-decoration: none; }
      div.panel p.info a.black {
        color: #606061; }
        div.panel p.info a.black:hover {
          color: #2e2e2f; }
      div.panel p.info a.blue {
        color: #007AFF;
        font-weight: 400; }
        div.panel p.info a.blue:hover {
          color: #0068cd; }
  div.panel p.error {
    text-align: left;
    color: #ff3b2f;
    margin-top: 55px;
    margin-bottom: -25px; }
  div.panel form.form {
    padding: 30px 0; }
    div.panel form.form label {
      border: 0 !important;
      clip: rect(0, 0, 0, 0) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important; }
    div.panel form.form input {
      font-size: 14px;
      margin-top: 10px;
      color: #4f4f50;
      width: 100%;
      display: block;
      padding: 9px 8px 7px;
      outline: none;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      -webkit-transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      -moz-transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      -o-transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      transition: border-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1), background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1); }
      div.panel form.form input::placeholder {
        color: #b0b0b0; }
      div.panel form.form input:focus {
        border-color: #000;
        color: #000; }
      div.panel form.form input[type="button"], div.panel form.form input[type="submit"] {
        font-size: 16px;
        background-color: #007AFF;
        border: none !important;
        color: #fff !important;
        cursor: pointer; }
        div.panel form.form input[type="button"]:hover, div.panel form.form input[type="submit"]:hover {
          background-color: #0068cd; }
        div.panel form.form input[type="button"]:disabled, div.panel form.form input[type="submit"]:disabled {
          background-color: #888;
          cursor: not-allowed; }
      div.panel form.form input.invalid {
        border-color: #ff3b2f; }
      div.panel form.form input.valid {
        border-color: #4cd964; }
    div.panel form.form p.info {
      padding: 10px;
      font-weight: 300;
      font-size: 0.9em; }

.hidden, .hidden * {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

/*# sourceMappingURL=main.css.map */
