$default-transition-time: 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
$small-device: "only screen and (max-width: 725px)";
$medium-device: "only screen and (max-width: 1068px)";
$large-device: "only screen and (min-width: 1442px)";
$retina-device: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)";
//$color: #FFCC00;
$color: rgb(0, 122, 255);

@mixin container($large, $medium, $small) {
  max-width: $large;
  margin: 0 auto;

  @media #{$medium-device} {
    max-width: $medium;
  }

  @media #{$small-device} {
    width: $small;
  }
}

@mixin default-container() {
  @include container(980px, 698px, 95%);
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value...) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin transition-transform-extra($time, $transform, $extra...) {
  -webkit-transition: -webkit-transform $time, $extra;
  -moz-transition: -moz-transform $time, $extra;
  -o-transition: -o-transform $time, $extra;
  transition: transform $time, $extra;
  @include transform($transform);
}

@mixin transition-transform($time, $transform) {
  -webkit-transition: -webkit-transform $time;
  -moz-transition: -moz-transform $time;
  -o-transition: -o-transform $time;
  transition: transform $time;
  @include transform($transform);
}

@mixin animation($value...) {
  -webkit-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin animation-delay($value...) {
  -webkit-animation-delay: $value;
  -moz-animation-delay: $value;
  -o-animation-delay: $value;
  animation-delay: $value;
}

@mixin box-shadow($value...) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin show() {
  border: none;
  clip: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  padding: auto;
  position: relative;
  width: auto;
}

@mixin hidden() {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

@keyframes loading {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-color: #ddd;
}

div.container {
  @include default-container();
  padding-top: 47px;
}

div.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  text-align: center;
  color: #fff;
  font-weight: 300;
  background-color: #111;

  &.error {

  }

  &.loading {
    background-image: linear-gradient(to bottom, #00c6fb 0%, #005bea 100%);
  }

  .spinner {
    width: 70px;
    height: 70px;

    position: relative;
    margin: 100px auto;

    .bounce {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      @include animation(loading 2.0s infinite ease-in-out);

      &.double-bounce2 {
        @include animation-delay(-1.0s);
      }
    }
  }

  h1 {
    font-size: 36px;
  }

  span a {
    font-weight: 400;
    color: $color;
    text-decoration: none;
  }
}

div.launcher {
  figure, ul, h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    -webkit-padding-start: 0;
  }

  div.container {

    // TODO REMOVE LINE
    @include container(980px, 698px, 95%);

    @media #{$large-device} {
      max-width: 1400px;
    }
  }

  div.column {
    vertical-align: top;
    display: inline-block;

    &.small {
      width: 25%;
    }

    &.large {
      width: calc(75% - 20px);
      margin-left: 20px;

      @media #{$small-device} {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  div.panel {
    text-align: left;
    padding: 10px;

    h1.title {
      font-weight: 600;
    }

    div.friend-list {
      margin-top: 15px;
    }
  }

  div.avatar-container {
    margin-right: 5px;
    display: inline-block;
    width: 64px;
    height: 64px;
    border: #E6E6E6 2px solid;
    border-radius: 50%;

    &.ingame {
      border-color: $color;
    }

    &.online {
      border-color: rgb(76, 217, 100);
    }

    &.busy {
      border-color: rgb(255, 59, 48);
    }

    &.afk {
      border-color: rgb(255, 204, 0);
    }

    figure.avatar {
      border-radius: 50%;
      margin-left: 3px;
      margin-top: 3px;
      width: 58px;
      height: 58px;
      background-size: 58px 58px;
    }
  }

  div.user, div.game {
    div.info {
      display: inline-block;
      padding-left: 2px;
      vertical-align: 75%;

      span {
        display: block;

        &.name {
          font-weight: 600;
          color: #111;
          font-size: 28px;
        }

        &.status {
          margin-top: -7px;
          font-weight: 500;
          color: #606060;
        }
      }
    }
  }

  ul.inline-menu {
    margin-top: 10px;
    list-style: none;

    li.entry {
      display: inline-block;
      padding: 0 5px;
      border-right: #95989A 2px solid;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: none;
      }

      a {
        color: #95989A;
        text-decoration: none;
      }
    }
  }

  .avatar-container {
    display: inline-block;
    width: 15%;
  }
  div.game-list {
    margin-top: 25px;
    div.game {
      border-top: #E6E6E6 2px solid;
      padding-top: 15px;
      margin-top: 15px;

      &:first-child {
        border-top: none;
        margin-top: 0;
      }

      div.button {
        float: right;
        display: inline-block;
      }
    }
  }
}

div.button {
  input {
    margin-top: 10px;
    display: block;
    padding: 9px 15px 7px;
    outline: none;
    border-radius: 3px;
    @include transition(border-color $default-transition-time, color $default-transition-time, background-color $default-transition-time);

    font-size: 16px;
    background-color: #007AFF;
    border: none !important;
    color: #fff !important;
    cursor: pointer;

    &:hover {
      background-color: #0068cd;
    }

    &:disabled {
      background-color: #888;
      cursor: not-allowed;
    }
  }
}

div.panel {
  background-color: #fff;
  text-align: center;
  color: rgb(153, 153, 153);
  border: 1px solid rgb(230, 230, 230);
  padding: 10px 30px;
  margin-bottom: 20px;

  &.transparent {
    background-color: transparent;
    border: none;
  }

  form.form {
    padding: 30px 0;
    label {
      @include hidden();
    }
    input {
      font-size: 14px;
      margin-top: 10px;
      color: #4f4f50;
      width: 100%;
      display: block;
      padding: 9px 8px 7px;
      outline: none;
      border: 1px solid rgb(230, 230, 230);
      border-radius: 3px;
      @include transition(border-color $default-transition-time, color $default-transition-time, background-color $default-transition-time);

      &::placeholder {
        color: rgb(176, 176, 176);
      }

      &:focus {
        border-color: #000;
        color: #000;
      }
      &.invalid {
        border-color: rgb(255, 59, 47);
      }

      &.valid {
        border-color: rgb(76, 217, 100);
      }
    }

    p.info {
      padding: 10px;
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}

h1.title {
  color: #000;
  font-weight: 400;
}

p {
  text-align: left;
  margin-top: 55px;
  margin-bottom: -25px;

  &.error {
    color: rgb(255, 59, 47);
  }

  &.success {
    color: rgb(76, 217, 100);
  }

  &.info {
    margin: 10px 0 10px;

    a {
      font-weight: 600;
      text-decoration: none;

      &.black {
        color: #606061;

        &:hover {
          color: #2e2e2f;
        }
      }

      &.blue {
        color: #007AFF;
        font-weight: 400;

        &:hover {
          color: #0068cd;
        }
      }
    }
  }
}

div.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100% - 80px);
  background-color: rgba(30, 30, 30, 0.4);
  padding-top: 40px;
  padding-bottom: 40px;
  @include transition(background-color $default-transition-time);

  &.hidden {
    background-color: transparent;

    div.body {
      @include transform(translateY(25px));
      opacity: 0;
    }
  }

  div.body {
    @include container(880px, 598px, 90%);
    @include box-shadow(0 1em 3em -0.25em rgba(46, 46, 46, 0.61));
    @include transition-transform-extra($default-transition-time, translateY(0), opacity $default-transition-time);
    opacity: 1;
    background-color: #fff;
    header {
      width: 100%;
      background-color: $color;
      padding: 5px 0;
      border-bottom: 1px solid rgb(230, 230, 230);

      span.title {
        font-weight: 600;
        padding-left: 15px;
        font-size: 18px;
        color: #fff;
      }

      a.cross {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 0;
        float: right;
        margin-right: 15px;
        height: 18px;
        width: 18px;
        padding-top: 10px;

        span {
          display: block;
          height: 2px;
          width: 18px;
          background-color: #fff;

          &.cross-one {
            @include transform(rotate(45deg));
          }
          &.cross-two {
            margin-top: -2px;
            @include transform(rotate(-45deg));
          }
        }

        &:hover span {
          background-color: #d5d5d5;
        }
      }
    }
    div.content {
      padding: 25px 1%;
    }
  }
}

.hidden, .hidden * {
  @include hidden();
}
