$default-transition-time: 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
$small-device: "only screen and (max-width: 725px)";
$medium-device: "only screen and (max-width: 1068px)";
$large-device: "only screen and (min-width: 1442px)";
$retina-device: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)";
//$color: #FFCC00;
$color: rgb(0, 122, 255);

@mixin container($large, $medium, $small) {
  max-width: $large;
  margin: 0 auto;

  @media #{$medium-device} {
    max-width: $medium;
  }

  @media #{$small-device} {
    width: $small;
  }
}

@mixin default-container() {
  @include container(980px, 698px, 95%);
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin show() {
  border: none;
  clip: auto;
  height: auto;
  margin: auto;
  overflow: visible;
  padding: auto;
  position: relative;
  width: auto;
}

@mixin hidden() {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-color: #ddd;
  @include default-container();
  padding-top: 47px;
}

div.panel {
  background-color: #fff;
  text-align: center;
  color: rgb(153, 153, 153);
  border: 1px solid rgb(230, 230, 230);
  padding: 10px 30px;
  margin-bottom: 20px;

  h1.title {
    color: #000;
    font-weight: 400;
  }

  p.info {
    margin: 10px 0 10px;

    a {
      font-weight: 600;
      text-decoration: none;

      &.black {
        color: #606061;

        &:hover {
          color: #2e2e2f;
        }
      }

      &.blue {
        color: #007AFF;
        font-weight: 400;

        &:hover {
          color: #0068cd;
        }
      }
    }
  }

  p.error {
    text-align: left;
    color: rgb(255, 59, 47);
    margin-top: 55px;
    margin-bottom: -25px;
  }

  div.form {
    padding: 30px 0;
    label {
      @include hidden();
    }
    input {
      font-size: 14px;
      margin-top: 10px;
      color: #4f4f50;
      width: 100%;
      display: block;
      padding: 9px 8px 7px;
      outline: none;
      border: 1px solid rgb(230, 230, 230);
      border-radius: 3px;
      @include transition(border-color $default-transition-time, color $default-transition-time);

      &::placeholder {
        color: rgb(176, 176, 176);
      }

      &:focus {
        border-color: #000;
        color: #000;
      }
      &[type="button"] {
        font-size: 16px;
        background-color: #007AFF;
        border: none !important;
        color: #fff !important;
        cursor: pointer;

        &:hover {
          background-color: #0068cd;
        }
      }
      &.invalid {
        border-color: rgb(255, 59, 47);
      }
    }

    p.info {
      padding: 10px;
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}

.hidden, .hidden * {
  @include hidden();
}
